<div class="dark-matter">
    <h1>Seja muito Bem Vindo(a)! <br> <%= l Time.now %></h1>
    <h2>Cadastros</h2>
    <ul>
    <%# <li><%= link_to "cadtipcontatos", "../kinds/new" %>
    <li><a href="../kinds/new">Cadastro de Tipos de Contatos</a></li>
    <li><a href="../contacts/new">Cadastro de Contatos</a></li>
    </ul>
    <hr>
    <h2>Listas</h2>
    <ul>
    <li><%= link_to "Tipos de Contatos", kinds_path %></li>
    <%# <li><a href="../kinds">Tipos de Contatos</a></li> %>
    <%# <li><a href="../contacts">Contatos</a></li> %>
    <li><%= link_to "Contatos", contacts_path %></li>
    <%# <li><a href="../addresses">Endereços</a></li> %>
    <li><%= link_to "Endereços", addresses_path %></li>
    <%# <li><a href="../phones">Telefones</a></li> %>
    <li><%= link_to "Telefones", phones_path %></li>
    </ul>
</div>